K8C_PROJECT_ID="<PROJECT_ID>"
K8C_CLUSTER_ID="<CLUSTER_ID>"
K8C_HOST="<K8C_HOST>"
K8C_AUTH="<K8C_AUTH>"
KKP_VERSION="2.26.4"
KKP_HOST="<my.dns.hostname>"
KKP_EMAIL="<my-email@example.com>"
AWS_IP="<AWS_NODE_IP>"
